.vranger {
	-webkit-transform:rotate(270deg) translateY(-50%); 
	-moz-transform:rotate(270deg) translateY(-50%); 
	-o-transform:rotate(270deg) translateY(-50%); 
	-ms-transform:rotate(270deg) translateY(-50%); 
	transform:rotate(270deg) translateY(-50%);  
	margin-top: 145px; /* 50% of the width because of the transformation */
	width: 290px;
	height: 20px;	
	position: absolute; /*there's weird sizing issues here...because of transform?*/
	left: 320px;
}

.hranger {
	width: 720px;
}
